__pycache__/
.mypy_cache/
*.py[cod]
.profile
cookies
# C extensions
*.so

# Packages
dist
build
eggs
.eggs
parts
var
sdist
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

venv/

.venv
./venv
./monster_venv
monster_venv
# IDE
*.sw[po]
*.iml
*.ipr
venv/
.vscode